<%= provide(:title, 'About')%>
<h1>About</h1>
<p>
  Workout Tracker provides a way to track your performance on a strength or fitness workout. Our technology allows you to construct workouts of arbitrary complexity using groups of workout steps with particular constraints and goals.  You can track your workout performance through time on instances of a given workout, and you can add tags to workouts to group them together or find them more easily.
</p>
<p>
  The social component of Workout Tracker allows users to easily share their performance with other users. Privacy settings can be tuned down to the workout level; you can always opt to only share the workouts you're most proud of.
</p>
<p>
  This site is currently under construction.  Please come back later for more information.
</p>