<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This site is owned and operated by Carson C Moore, LLC.  You can find out more about Carson at his <%= link_to 'website and personal blog', 'http://www.carscafmoo.com', {target: 'new'} %>.  
</p>
<p>
  To request features or submit bugs, visit our project on <%= link_to 'GitHub', 'https://github.com/Carscafmoo/workout-tracker', {target: 'new'} %>
</p>