<div>
  <h1>You look lost...</h1>
  <h2>
    Are you sure you're supposed to be here?
  </h2>
  <p>
    The page you're looking for doesn't exist. It may have moved or been deleted. Try getting to wherever you were trying to go from the <%= link_to 'Home', home_path %> page.
  </p>
  <p>
   If you think this is an error (e.g., you clicked a link and it brought you here), please <%= link_to "contact us", contact_path %> immediately.
  </p>
</div>